@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500&display=swap');
body {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
  height: 100vh;
  width: 100vw;
}
.index-bg {
  background-image: url(./imgs/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-bg {
  background-image: url(./imgs/contact-page-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-transform: uppercase;
}
.content-grid {
  z-index: 100;
  grid-column: 1/3;
  grid-row-start: 3;
  grid-row-end: 5;
  margin: 0 3em;
}
.title-container {
  width: 50%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 2;
}
.text-container {
  grid-column: 4/6;
  grid-row: 2/6;
}
.form-ele {
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.598);
  border-radius: 0.25rem;
}
.form-grid {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 7;
}
label {
  text-transform: uppercase;
}
.gallery-img {
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h3 {
  text-transform: capitalize;
}
button {
  text-transform: uppercase;
}
hr {
  border: 3px solid black;
}
.title-grid {
  grid-column: 2/3;
  grid-row: 2;
}
.ele-one {
  grid-column: 1;
  grid-row: 1;
}
.ele-two {
  grid-column: 2;
  grid-row: 1;
}
.ele-three {
  grid-column: 1;
  grid-row: 2;
}
.ele-four {
  grid-column: 2;
  grid-row: 2;
}
.form-loc {
  grid-column: 2/6;
  grid-row: 2/3;
}
@media (max-width: 768px) {
  .form-loc {
    width: 83.333333%;
  }
}
