@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;500&display=swap');
body {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-style: normal;
}
a {
  text-transform: uppercase;
}
.hero-grid {
  grid-column: 3/7;
  grid-row-start: 2;
  grid-row-end: 6;
  z-index: 0;
}
.content-grid {
  z-index: 100;
  grid-column: 1/4;
  grid-row-start: 3;
  grid-row-end: 5;
  margin: 0 3em;
}
.title-container {
  width: 50%;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 2;
}
.text-container {
  grid-column: 4/6;
  grid-row: 2/6;
}
.form-ele {
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.598);
  border-radius: 0.25rem;
}
.form-grid {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 7;
}
label {
  text-transform: uppercase;
}
